
{% extends 'base.html' %}

{%block content%}
    <h1>Benvenuto su Fitness Tracker</h1>
    <div class="centered"><h2>(il mio progetto backend)</h2></div>

    <div class="button-container">
       {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn">Accedi</a>
            <a href="{% url 'register' %}" class="btn">Registrati</a>
        {% endif %}
        {% if user.is_coach %}
            <a href={% url 'user_list' %} class="btn">Vedi Tutti Gli Utenti</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile_edit' %}" class="btn">Cambia Parametri</a>
            <a href="{% url 'goal_create' %}" class="btn">Inserisci Obiettivo</a>
            <a href="{% url 'workout_create' %}" class="btn">Inserisci Workout</a>
            <a href="{% url 'user_progress_sheets' %}" class="btn">Scheda Progressioni</a>
            <a href="{% url 'achieved_goals_list' %}" class="btn">Obiettivi Raggiunti</a>
            <a href="{% url 'unachieved_goals_list' %}" class="btn">Obiettivi Da Completare</a>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Esci</button>
            </form>
        {% endif %}

    </div>
{% endblock content%}

{# <a class="btn">Completa Obiettivo</a> #}